<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{styles1.css}">
</head>
<body>
<div class="form">
    <h2>Formulario de Tarea</h2>
    <br>
    <form th:action="@{/todolist/save}" method="post">
        <label for="nombre">Name</label>
        <br>
        <input type="text" id="nombre" name="name" required>

        <br>

        <label for="descripcion">Description</label>
        <br>
        <textarea id="descripcion" name="description" rows="4" required></textarea>

        <br>

        <label for="fecha_limite">DeadLine</label>
        <br>
        <input type="date" id="fecha_limite" name="deadline" required>

        <br>

        <label>Priority</label>
        <br>
        <input type="number" name="priority" value="0" required>

        <br><br>

        <input type="submit" value="Guardar Tarea" class="btn">
    </form>
</div>

</body>
</html>