<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Formulario de Tarea</h2>

<form th:action="@{/todolist/update}" method="post">
    <input type="hidden" th:value="${task.id}" name="id">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="name" th:value="${task.name}" required>

    <br>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="description" rows="4" th:text="${task.description}" required></textarea>

    <br>

    <label for="fecha_limite">Fecha Límite:</label>
    <input type="date" id="fecha_limite" name="deadline" th:value="${task.deadline}" required>

    <br>

    <label>Prioridad:</label>
    <input type="number" name="priority" th:value="${task.priority}" required>

    <br><br>

    <input type="submit" value="Guardar Tarea">
</form>

</body>
</html>